[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson/
[submodule "libraries/hlw8012"]
	path = libraries/hlw8012
	url = https://bitbucket.org/xoseperez/hlw8012
